.tag {
    border-radius: 18rem;
    background-color: var(--corDestaque);
    padding: .25rem .5rem;
    cursor: pointer;
    opacity: 50%;
    transition: all .3s ease-in-out;
}

.tag:hover {
    opacity: 1;
}