#root {
  width: min(90vw, 1280px, );
  margin: 0 auto;
  padding: 2rem;
}

main {
  background-color: var(--bg-main);
  margin: 5vh auto 0;
  width: min(800px, 90vw);
  height: 95vh;
  padding: 48px 64px;
  border-radius: 12px 12px 0 0;
  box-shadow: 1px -1px 10px var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: var(--tamtexto);
  color: var(--cor-titulo);
}

.lista-tarefas {
  overflow: auto;
}