@import url(https://renansantos7.github.io/styles/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

:root {
    --tamtexto: 18px;
    
    /* Cores */
    --bg-body: #f0f0f0;
    --bg-main: #fcfcfc;
    --bg-input: #f5f5f5;
    --bg-input2: #eee;
    --cor-borda: #ccc;
    --cor-texto: #222;
    --cor-titulo: #0e0e0e;
    --cor-destaque: #94c3ee;
    --shadow: rgba(0,0,0,0.1);
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --bg-body: #2c2c2c;
        --bg-main: #3b3b3b;
        --bg-input: #434343;
        --bg-input2: #4a4a4a;
        --cor-borda: #6b6b6b;
        --cor-texto: #dbdbdb;
        --cor-titulo: #e7e7e7;
    }
}

body {
    background-color: var(--bg-body);
    font-family: 'Open Sans', sans-serif;
    color: var(--cor-texto);
    /*! height: 100vh; */
    overflow: hidden;
}


input[type=text] {
    background-color: var(--bg-input);
    font-size: var(--tamtexto);
    padding: .6rem;
    width: 100%;
    border-bottom: 1px solid var(--cor-destaque);
    margin-bottom: 1px;
    transition: all 0.6s ease-in-out;
    color: var(--cor-texto);
}

input[type=text]:focus {
    border-bottom-width: 2px;
    margin-bottom: 0;
    background-color: var(--bg-input2);
}

input[type=text]:hover {
    background-color: var(--bg-input2);
}
